#logo {
    width:10%;
    height: 10%;
}

.navbar-logo {
        float: left;
        padding: 14px 0px;
}

.navbar-menu {
    margin: 0px;
    float: right;
}

header {
    background-color: #a1665e;
    padding: 5% 0;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans MT', sans-serif;
  }

body {
    padding: 0 12% 5% 12%; 
    font-family: 'Gill Sans MT', sans-serif;
    color: #503335;
    background-color: #e4dacd;
    text-align: justify;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0 1%;
    overflow: hidden;
    background-color: #2e3815;
    color: rgb(198, 216, 203);
    text-align: center;
    left: 0;
    width: 98%;
    height: max-content;
}

#nav-container li {
    padding: 1.5%;
    display: inline-block;
}

p {
    font-family: 'Gill Sans MT', sans-serif;
}

h3 {
    font-family: 'Gill Sans MT', sans-serif;
}

h4 {
    font-family: 'Gill Sans MT', sans-serif;
}

.lista {
    padding: 4%;
    background-color: #a1665e;
    color: #e4dacd;
}

a.link-menu {
    color:#e4dacd;
    text-decoration: none;
}

a.link-menu:active {
    color:#d68d84;
    text-decoration: none;
}

a.link-menu:hover {
    color:#da503e;
    text-decoration: none;
}

footer {
        padding: 10% 0;
        color: #a1665e;
        width: 100%;
        text-align: center;
}

hr.footer {
    border-top: 1px solid #a1665e;
}
